apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Values.ingress.name }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  rules:
    - host: {{ .Values.ingress.hosts.host }}
      http:
        paths:
        - backend:
            serviceName: {{ .Values.postgresSvc.name }}
            servicePort: {{ .Values.postgresSvc.ports.port }}
          path: {{ .Values.ingress.hosts.paths.path }}
